.MuiSvgIcon-root{
    color: gray;
}

.post{
    background-color: rgb(229,226,226);
    margin: 10px;
    padding-bottom: 20px;
}
.header{
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
}
.mad{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.mad>h2{
    font-size: 24px;
}
.mad>p{
    font-size: 15px;
}
.content{
    background-color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
}
.more{
  margin-left: 95%;  
  cursor: pointer;
}

.post_content{
    padding: 20px;
}

.content>p{
padding-left: 20px;
padding-right: 20px;

}
.header>img{
    width: 60px;
    height: 60px;
}
.like{
    background-color: white;
    margin: 15px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.like_c{
    margin-left: 15px;
   display: flex;
   align-items: center;
    
}
.like_c>.MuiSvgIcon-root{
    padding: 20px !important;
    cursor: pointer;
    color: gray;
    width: 30px;
    height: 30px;
    
}
.thumbs>.MuiSvgIcon-root{
    color: blue;
    cursor: pointer;
}
div>.MuiSvgIcon-root{
    cursor: pointer;
}

.share>.MuiSvgIcon-root{
    padding: 20px !important;
    cursor: pointer;
    color: gray;
    width: 30px;
    height: 30px;
}
.numbers{
    display: flex;
    justify-content: space-evenly;
    background-color: #fafafa;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
}
.numbers>p{
    cursor: pointer;
    color: rgb(30, 85, 87);
    font-weight: 500;
}
.addcomment > .MuiPaper-root {
    display: flex;
    justify-content: center;
    align-items: center !important;
    background: rgb(250, 252, 252) !important;
   
    border-radius: 999px;
    width: 360px;
    /* margin-left: 200px !important; */
    margin-top: 10px !important;
   
  }
  .commentFiled {
    color: #1f1a1a !important;
    width: 300px;
    border-radius: 999px;
  }
  button {
    background-color: transparent;
    border: none;
  }
  button>.MuiSvgIcon-root{
      color: rgb(231, 144, 144);
  }

  .showComment{
      display: flex;
      flex-direction: column;
      padding: 20px;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      overflow-y: scroll;
      flex: 0.9;
  }
  .showComment::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .singleComment{
      display: flex;
      padding: 10px;
      align-items: center;
  }

  .commentName{
      color: red;
      font-size: 20px;
      text-transform: capitalize;
  }
  .commentComment{
      color: rgb(109, 105, 105);
  }
